$bg-color: rgb(9, 9, 9);


.banner{
    height: 600px;
    // border: 2px solid red;
    background-color: $bg-color ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &::after{
        content: "" ;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: $bg-color;
        opacity: 0.4;
    }
    h1, p{
        color: white;
        font-size: 4rem;
        width: 40%;
        z-index: 10;
    }
    p{
        font-size: 1.2rem;
        letter-spacing: 2px;
        word-spacing: 2px;
    }

    > div{
        display: flex;

        
    button{
        padding: 1rem;
        outline: none;
        border: none;
        width: 150px;
        z-index: 10;
        border-radius: 5px;
        margin: 1rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;

        &:nth-child(odd){
            background-color: white;
            color: black;
        }

        &:nth-child(even){
            background-color: rgb(113, 111, 111);
            color: white;
        }

        &:hover{
            // background-color: aqua;
            opacity: 0.6;
        }

        svg{
            font-size: 1.5rem;
            margin:0 10px;
        }
    }
    }
}


a,h1{
    color: white;
}

.row{
    background-color: $bg-color;

     >h1{
        font-weight: 400;
        
     }
    >div{
        display: flex;
        // justify-content: center;
        overflow-x: auto;
        padding: 1rem;  
    }

}

.card{
    width: 200px;
    margin: 0.3rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) ;
    }
}


.genreBox{
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: $bg-color;
    >a{
        color:black ;
        background-color: white;
        padding: 1rem 0;
        margin: 1rem;
        text-align: center;
        min-width: 10rem;
        border-radius: 5px;
        transition :all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        background-color: rgb(17, 17, 17);
    }
}



 

